---
import { Greeting } from "../components/Greeting.jsx";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro React Cloudflare Cold Optimizer Repro</title>
    <ClientRouter />
  </head>
  <body>
    <Greeting />
  </body>
</html>
